In [4]:
#print 0 to 20 by using range
for numbers in range(0,20):
    print(numbers)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#print range 10 to 20

In [15]:
print(*range(10,20))

10 11 12 13 14 15 16 17 18 19

In [ ]:
#print number of items in the listby using "len"

In [13]:
lists=[10, 20, 14, 55, 43, 87, 76]
print("Number of items in the list2: ",len(lists))

Number of items in the list2:  7

In [ ]:
#printing a string horizontally and vertically

In [26]:
STRing='Artifical Intelligence'
print(STRing)
for words in STRing:
    print(words)

Artifical Intelligence
A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [27]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [31]:
#print odd numbers in the list

In [32]:
N=[20,10,16,19,25,1,276,188]
for Num in N:
    if ((Num%2)==1):
        print(Num," is odd")

19  is odd
25  is odd
1  is odd

In [33]:
N=[20,10,16,19,25,1,276,188]
for Num in N:
    if ((Num%2)==0):
        print(Num," is even")

20  is even
10  is even
16  is even
276  is even
188  is even

In [ ]:
#Print mixed datatypes using tuples

In [34]:
Tuple=(1, 'Welcome', 2, 'Hope')
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [36]:
Tuple1=(0, 1, 2, 3)
Tuple2=('Python', 'Hope')
Tuple3=(Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('Python', 'Hope'))